body {
    margin: 0;
    padding: 0;
    height: auto;

    
}
.container{
    display: grid;
    grid-template-areas: "header header"
                         "banner banner"
                         "intro intro"
                         "side main"
                         "footer footer"  ;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 170px auto auto 1fr auto;
    min-height: 200vh;
}

.intro{
    grid-area: intro;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgba(139, 69, 19, 0.3);
    padding: 1rem 2rem;
    height: 2000px;
    justify-content: center;
    align-items: center;
    
    box-shadow: 8px 18px 16px rgba(0, 0, 0, 0.1);

    
}
.in1{
    width: auto;
    height: 200px;
    background: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
    margin-top: 0px;
    background-size: cover;
    background-image: url(/photo/angkor3.jpeg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.in1 p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: #8B4513;
    letter-spacing: 140px;
    
   
}
.in3 {
    grid-area: intro;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem 2rem;
    height: 1300px;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    
    /*
    grid-template-areas: "text-k feature" ;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 170px auto auto 1fr auto;
    */
}
.in3 h1 {
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.in3 p {
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
button {
    background: #D2B48C;
    margin-top: 30px;
    padding: 10px;
    width: 250px;
    border-style: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9rem;
    justify-content: center;
    /*display: flex;
    flex-direction: column;
    grid-area: banner;
    padding: 1rem 2rem;
    height: 700px;
    justify-content: center;
    align-items: center;*/
    
}
.feature2{
    background: #8B4513;
    padding: 1.5rem;
    box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.1);
    /*          x.  y.  blur*/
    height: 800px;
    width: 1300px;
    padding: 0;
    border-radius: 20px;
}

.feature .feature2 .box1 {
    background: #8B4513;
    border-radius: 20px ;
    height: 800px;
    width: 1300px;
    padding: 0;
    position: absolute;
}
.feature .feature2 .box1 img{
    width: 100%; 
    height: 100%; 
    border-radius: 20px ;
    box-shadow: 20px 30px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    position: absolute;
}
.feature .feature2:hover .box1 img {
    opacity: 0;
}
.feature .feature2 .c2 {
    display: flex;
    border-radius: 20px ;
    height: 800px;
    width: 1300px;
    padding: 0;
    
    position: absolute;
    box-shadow: 20px 30px 6px rgba(0, 0, 0, 0.1);
}

.feature .feature2 .c2 img{
    width: 100%; 
    height: 100%; 
    border-radius: 20px ;
    
}
.feature .feature2 .c2 {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(0);
    
}
.feature .feature2:hover .c2 {
    opacity: 1;
    transform: translateY(-10%);
}

.featureN{
    padding: 1.5rem;
    border-radius: 10px;
    
    /*          x.  y.  blur*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 700px;
    padding: 0;
}
.feature .featureN .box {
    background: #8B4513;
    border-radius: 20px ;
    height: 800px;
    width: 600px;
    padding: 0;
    position: absolute;
}
.feature .featureN .box img{
    width: 100%; 
    height: 100%; 
    border-radius: 20px ;
    box-shadow: 20px 30px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    position: absolute;
}
.feature .featureN:hover .box img {
    opacity: 0;
}
.feature .featureN .c3 {
    display: flex;
    border-radius: 20px ;
    height: 800px;
    width: 600px;
    padding: 0;
    
    position: absolute;
    box-shadow: 20px 30px 6px rgba(0, 0, 0, 0.1);
}
.feature .featureN .c3 img{
    width: 100%; 
    height: 100%; 
    border-radius: 20px ;
    
}
.feature .featureN .c3 {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(0);
    
}
.feature .featureN:hover .c3 {
    opacity: 1;
    transform: translateY(-10%);
}
.banner{
    display: flex;
    flex-direction: column;
    grid-area: banner;
    padding: 1rem 2rem;
    height: 700px;
    justify-content: center;
    align-items: center;
    position: relative;
    /*
    background-image: url(/photo/b1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;*/
}
.banner h1{
    color: #A0522D;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-angkor {
    margin-top: 80px;
    height: 200px;
    width: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.card-angkor img {
    height: 800px;
    width: 900px;
    margin-bottom: -180px;
}

.card-angkor1 {
    height: 200px;
    width: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.card-angkor1 img {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0; /* Stick to the bottom edge */
    left: 0;
}
.card-angkor2 {
    height: 200px;
    width: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.card-angkor2 img {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;   /* Stick to the top edge */
    left: 0;
}
.card-angkor3 {
    height: 200px;
    width: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.card-angkor3 img {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0; /* Stick to the bottom edge */
    right: 0;
}
.card-angkor4 {
    height: 200px;
    width: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.card-angkor4 img {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.card-line {
    height: 100px;
    width: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.card-line img {
    height: 1400px;
    width: 1600px;
    margin-top: 90px;
}
.header {
    grid-area: header;
    background: rgba(160, 82, 45, 0.1);
    box-shadow: 8px 18px 16px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.log {
    display: flex;
    flex-direction: row;
    /* 💡 Add vertical centering */
    align-items: center; 
    color: #A0522D;
    font-size: 20px;
    padding: 1rem 2rem;
    
}
.log h1{
    margin-left:-50px ;
}
.log img {
    height: 200px;
    width: 200px;
    margin-left: -120px;
}

ul {
    display: flex;
    list-style: none;
    gap: 7rem;
    margin-right: 100px;
}
a {
    color: #A0522D;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.side {
    grid-area: side;
    background: gray;
}
.main {
    grid-area: main;
    padding: 1rem;
}
.footer {
    grid-area: footer;
    background: black;
    color: white;
    text-align: center;
    min-height: 50px;
}